<h1>Galeria</h1>

<div class="slideshow">
	<div class="slider">
		<% @photos.each do |photo| %>
		<figure class="slide">
			<%= image_tag photo.photo.url(:banner) %>
		</figure>
		<% end %>
	</div>
	<aside class="slideshow-nav" id="slideshow-nav">
		<span class="slide-button prev-slide">❮</span>
		<span class="slide-button next-slide">❯</span>
	</aside>
	<span class="slider-position"></span>
</div>

<script>
	Slider.initialize();
</script>