body {
	background: #F2F4F8;
}

* {
	box-sizing: border-box;
}

.container {
	max-width: 1055px;
	width: 1055px;
	margin: 0 auto;
}

.page-content {
	padding: 20px;
	margin-top: 20px;
	background: #fff;
}

.skip a {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
	&::focus { 
		position: static; 
		width: auto; 
		height: auto; 
	}
}