label {
	display: block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: bold;
	color: #666;
	font-size: 13px
}

input[type="text"] {
	display: block;
	padding: 0.44444rem;
	width: 100%;
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
	background-color: #FFF;
	font-family: inherit;
	border: 1px solid #CCC;
}

.form-action {
	margin-top: 30px;
}