body {
	background: #F2F4F8;
}

* {
	box-sizing: border-box;
}

ul {
	padding: 0;
}

.container {
	max-width: 1055px;
	width: 1055px;
	margin: 0 auto;
}

.page-content {
	padding: 20px;
	margin-top: 20px;
	background: #fff;
}

.header {
	width: 100%;
	background: #222A38;
	padding: 10px 0;
	li {
		display: inline-block;
	}
	a {
		color: #fff;
		text-decoration: none;
		padding: 0 10px;
	}
}

.button {
	display: inline-block;
	margin: 0 5px;
	font-size: 13px;
}
.button-primary {
	margin-top: 30px;
	background: #5A7BC2;
	color: #fff;
	padding: 10px 20px;
	border: 0;
	border-radius: 4px;
	text-decoration: none;
}
.button-link {
	color: #B20000;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: bold;
	color: #666;
	font-size: 13px
}
input {
	display: block;
}

h1 {
	color: #58719C;
	margin: 0.2em 0;
}
h2 {
	color: #555;
	margin: 0 0 2em;
	font-size: 16px;
}

.lista-imagens {
	overflow-x: hidden;
	overflow-y: auto;
	margin: 9px 0 25px;

	.item {
		position: relative;
		display: inline-block;
		margin: 8px;
		cursor: pointer;
		border: 1px solid #ddd;
		border-radius: 4px;
		background: #f9f9f9;
		&:hover {
			border-color: #aaa;
		}
		img {
			width: auto;
			max-height: 118px;
		}
		&:nth-child(6n+1) { margin-left: 2px; }
		&:nth-child(6n) { margin-right: 0; }
	}
	.thumb {
		position: relative;
		overflow: hidden;
		width: 134px;
		height: 134px;
	}
	.centered {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		-webkit-transform: translate(50%,50%);
		-ms-transform: translate(50%,50%);
		transform: translate(50%,50%);
		img {
			-webkit-transform: translate(-50%,-50%);
			-ms-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);
		}
	}
}

.details {
	display: none;
	position: absolute;
	top: 5px;
	right: 5px;
	.item:hover & {
		display: block !important;
	}
	a {
		padding: 5px;
		background: #5A7BC2;
		margin: 1px;
		color: #fff;
		text-decoration: none;
		display: inline-flex;
		border-radius: 3px;
	}
}