body {
	background: #F2F4F8;
}

* {
	box-sizing: border-box;
}

ul {
	padding: 0;
}

.container {
	max-width: 1055px;
	width: 1055px;
	margin: 0 auto;
}

.header {
	width: 100%;
	background: #222A38;
	padding: 10px 0;
	li {
		display: inline-block;
	}
	a {
		color: #fff;
		text-decoration: none;
		padding: 0 10px;
	}
}

.btn {
	display: inline-block;
	margin-top: 30px;
	background: #5A7BC2;
	color: #fff;
	padding: 10px 20px;
	border: 0;
	border-radius: 4px;
	text-decoration: none;
}
label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: bold;
	color: #666;
	font-size: 13px
}
input {
	display: block;
}